h1 {
	color:red;
	text-align: center
}	

body {
	background-image:url("sky.jpg");
	background-position:center;
}
#sun {
	height:250px;
	width:250px;
	position:relative;
	left:-15px;
	top:100px;
}
#moon {
	height:20px;
	width:20px;
	position: relative;
	top:-40px;
}
#mercury {
	height:30px;
	width:30px;
	position: relative;
	left:10px;
}
#venus {
	height:35px;
	width:35px;
	position: relative;
	left:20px;
}
#earth {
	height:50px;
	width:50px;
	position: relative;
	left:30px;
}
#mars {
	height:30px;
	width:30px;
	position: relative;
	left:35px;
}
#jupiter {
	height:120px;
	width:120px;
	border-radius:60px;
	position: relative;
	left:40px;
	}
#saturn {
	height:250px;
	width:250px;
	position: relative;
	left:55px;
	top:100px;
}
#uranus {
	height:80px;
	width:80px;
	position: relative;
	left:50px;
}
#neptune {
	height:80px;
	width:80px;
	position: relative;
	left: 50px;
}
#first {
	height:100px;
	width:300px;
	background-color: transparent;
	border:1px solid white;
	border-radius:100px 100px 100px 100px;
}